<%- include('../shared/header', { title: 'Thank you' }) %>
<h1>Thank you!</h1>
<p>Your order has been placed. You can review it in <a href="/account/orders">My Orders</a>.</p>
<p><a class="btn btn--brand" href="/products">Continue shopping</a></p>
<%- include('../shared/footer') %>
